@import "reset.css";

/* Variables */
:root {
    --container-bg: #79272e;
    --bg-color: #403E43;
    --bg-light-color: #7d7981;
    --main-color: #fb4655;
    --secondary-color: #210E10;
    --secondary-darker-color: #130b0b;
    --main-deactivated-color: #ac313d;
    --start-gradient-color: #4a4a4a;
    --final-gradient-color: #7d7981;
    --white-color1: #f8f4eb;
    --white-color2: #e0d1c9;
}

/* Fonts and global settings */
body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    text-align: center;
    color: var(--main-color);
    font-weight: 200;
    background: var(--white-color2);
}

.titleFont {
    font-family: 'Teko', sans-serif;
    font-size: 80px;
    font-style: italic;
    text-decoration: underline;
}

.subtitleFont {
    font-size: 20px;
    transform: translateX(33px);
}

/* Containers */

#scalingContainer {
    width: 100%;
    height: 100%;
    position: relative;
    transform: scale(0.8);
}

.containerClass {
    width: 80%;
    max-width: 1200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--container-bg);
    border-radius: 10px;
    box-shadow: 14px 10px 36px -1px rgba(0, 0, 0, 0.3);
}

#introContainer {
    box-sizing: border-box;
    height: 748px;
    padding: 70px;
}

#introContainerBorder {
    box-sizing: border-box;
    border-radius: 10px;
    background-color: var(--bg-color);
    width: 100%;
    height: 100%;
    padding: 40px;
}

#introContainerScreen {
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    background-color: var(--secondary-color);
    width: 100%;
    height: 100%;
    padding-top: 175px;
    flex-direction: column;
    font-size: 14px;
}

#introContainerScreen  span {
    display: inline-block;
    width: 100%;
    padding-bottom: 3px;
}

.introTextBlock {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    transform: translateX(173px);
}

.introTextBlock > span {
    font-size: 14px;
    width: 100%;
    text-align: right;
}

.extraBottomPadding {
    padding-bottom: 70px!important;
}

#synthContainer {
    padding: 16px 0;
}
/* Row and blocks*/
.input-row {
    display: flex;
    justify-content: space-evenly;
    margin: 20px 0;
}

.input-block {
    width: 270px;
    min-height: 145px;
    padding: 40px 20px 25px 20px;
    border: 1px solid var(--bg-color);
    border-radius: 8px;
    background: var(--bg-color);
    position: relative;
}

.input-block-name {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 14px;
    font-weight: bold;
    color: var(--bg-light-color);
    border: 1px solid var(--main-deactivated-color);
    border-radius: 2px;
    padding: 3px 5px;
}

.input-block-sliders {
    display: flex;
    justify-content: space-around;
    border: 1px solid var(--bg-color);
    padding: 0 10px;
}

.input-entry {
    display: inline-block;
    border: 1px solid var(--bg-color);
    height: 100px;
    width: 35px;
}

/* Labels */

.input-block-labels {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: var(--secondary-color);
    border-radius: 5px;
    height: 40px;
    margin: 0 2px;
}

.glow {
    animation: neon .9s ease-in-out infinite alternate;
}

@keyframes neon {
    from {
        text-shadow: 0 0 5px rgba(246, 91, 104, 0.7)
    }
    to {
        text-shadow: 0 0 6px rgba(245, 126, 134, 0.3)
    }
}

label {
    display: inline-block;
    width: 37px;
}

.block-label-detail-name {
    width: 170px;
    text-align: left;
    padding-left: 10px;
    font-size: 13px;
    font-weight: 300;
}

.block-label-detail-value {
    width: 50px;
    text-align: right;
    padding-right: 10px;
    font-size: 20px;
    font-weight: 400;
}

/* Sliders */
input[type="range"] {
    appearance: none;
    /*-webkit-appearance: slider-vertical;*/
    display: inline-block;
    background: transparent;
    transform: rotate(270deg) translateY(-30px) translateX(-40px);
    width: 90px;
    height: 20px;
    /*margin-left: -55px;*/
    /*margin-top: 80px;*/
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    /*border: 1px solid var(--block-bg-color);*/
    height: 32px;
    width: 14px;
    border-radius: 3px;
    background: linear-gradient(to right, var(--start-gradient-color) 1%, var(--final-gradient-color) 100%);
    cursor: pointer;
    margin-top: -12px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
}

input[type=range]::-webkit-slider-runnable-track {
    /*width: 100%;*/
    height: 8px;
    cursor: pointer;
    /*box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;*/
    background: var(--secondary-darker-color);
    border-radius: 8px;
}

input[type=range]:focus {
    outline: none; /* Removes the blue border. */
}

/* Config block */
.config-flex {
    display: flex;
    width: 100%;
    padding-top: 20px;
}

.config-block {
    display: inline-block;
    width: 40%;
    margin-right: 10%;
}

#presetInputText {
    width: 90%;
    background: transparent;
    border: none;
    color: var(--main-color);
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
}

#presetInputText:focus {
    outline: none;
}

#loadPreset {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

.synth-button {
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    background: linear-gradient(to bottom, var(--white-color1) 1%, var(--white-color2) 100%);
    color: var(--secondary-darker-color);
    width: 100%;
    padding: 10px 8px;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    font-weight: 500;
    border: 1px solid var(--secondary-darker-color);
    border-radius: 5px;
    text-decoration: none;
    margin-bottom: 10px;
}

#midiInput {
    display: inline-block;
    background-color: var(--white-color1);
    width: 100%;
}

label[for="midiInput"] {
    text-align: left;
    display: inline-block;
    width: 100%;
    font-size: 14px;
    font-weight: normal;
    color: var(--bg-light-color);
    border-radius: 2px;
    margin-top: 35px;
    margin-bottom: 3px;
}

/* Visualizers */
.visualizerContainer {
    position: absolute;
    box-sizing: border-box;
    top: 50%;
    left: 50%;
    margin: -80px 0 0 -130px;
    width: 260px;
    height: 160px;
    background-color: var(--secondary-color);
    border-radius: 5px;

}

#featureCanvasContainer {
    padding-top: 22px;
}

#spectrogramContainer {
    padding-top: 10px;
    padding-left: 17px;
}

#spectrogramCanvas {
    transform: scaleX(-1);
}

#algorithmSelect {
    display: none;
}

#algorithmContainer {
    padding-top: 16px;
}

.algorithmButtonCommon {
    position: absolute;
    background-color: rgba(0,0,0,0);
    border: 2px solid var(--main-color);
    border-radius: 4px;
    width:30px;
    height:30px;
    font-size: 20px;
    color: var(--main-color);
    top:68px;
    outline: none;
}

.algorithmButtonCommon:hover {
    background-color: var(--main-color);
    color: var(--secondary-color);
}

#algorithmButtonUp {
    right: 30px;
}

#algorithmButtonDown {
    left: 30px;
}

#algorithmImg {

}

.color-image {
    filter: invert(33%) sepia(56%) saturate(2696%) hue-rotate(334deg) brightness(113%) contrast(97%);
}